html, body {
  margin: 0 0 0 0;
  padding: 0;
  width: 100vw;
  background: white;  
  height: 100vh;
}

* {box-sizing: border-box}
/*body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}*/

#fullpage{
	width:100%;
	height: 100%;
	position: relative;
	display: inline-block;
    border: 1px solid black;
    
}

/* Slideshow container */

.slideshow-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: fixed;
	top:0%;
	left:0%;
	margin: 0;
	display: inline-block;
	z-index: 80;
	float: left;
}

.SlideImage {
	width: 100%;
	height: 100%;
	display: inline-block;
	position: fixed;
	top: 0%;
	left: 0%;
	z-index: 85;
}

/* Hide the images by default */
.mySlides {
    width: 100%;
	height: 100%;
    display: none;
    z-index: 85;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.prev{
	left:0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
/*.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}*/

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 100%;
  width: 20%;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  /*transition: background-color 0.6s ease;*/
  bottom:0;
  float: left;
}

/*.active, .dot:hover {
  background-color: #717171;
}
*/
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

#login{
    z-index: 104;
    position: relative;
    display: inline-block;
    font-size: 1vw;
    font-weight: bold;
    color: black;  
}

a:visited, a:link, a:active{
    color: black;
    text-decoration: none;
}

.circleContainer {
    display: inline-block;
    height: 3%;
    width: 7%;
    position: relative;
    /* text-align: center; */
    left: 43%;
    top: 93%;
    border: 2px solid black;
    z-index: 102;
}
.header{
	width: 100vw;
    height: 6vh;
    top: 0vw;
    left: 0%;
    position: fixed;
    z-index: 105;
    display: inline-block;
    background-color: white;

}
/*.navbar {
    width: 38vw;
    left: 8vw;
    top: 0vh;
    position: relative;
    column-count: 5;
    column-gap: 0%;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 1.6vw;
    font-weight: normal;
    display: inline-block;
    z-index: 101;
}*/


.main{
	top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 100;
}

.logoContainer{
	height: 8vw;
    width: 8vw;
    /* border: 1px solid black; */
    border-radius: 50%;
    position: relative;
    float: right;
    top: 4vh;
    right: 3vw;
    /* left: 1vw; */
    background-image: url(images/logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    z-index: 102;
}

.heading {
    left: 49%;
    top: 45%;
    width: 24vw;
    height: 12vh;
    position: relative;
    display: inline-block;
    color: rgb(0, 0, 0);
    font-size: 4.8vw;
    font-family: 'Cinzel', serif;

    font-weight: bolder;
    z-index: 102;
}

.subHeading{
    left: 33%;
    top: 51%;
    height: 6vh;
    width: 26vw;
    position: relative;
    color: white;
    font-size: 2.1vw;
    font-family: 'Cinzel', serif;
    font-weight: bolder;
    display: inline-block;
    /* border: 1px solid black; */
    text-shadow: -2px 0 7px #1c3256, 0 2px 7px #1c3256, 2px 0 8px #1c3256, 0 -2px 10px #1c3256;
    z-index: 102;
  }

.navbarContainer2{
	width: 43%;
    height: 43%;
    display: inline-block;
    top: 18%;
    /* top: 9vh; */
    left: 4%;
    /* border: 1px solid black; */
    position: relative;
}

.hexagon_container{
	z-index: 102;
    display: inline-block;
    float: left;
    position: relative;
    background-image: url(hexagon.png)
    top: 1vh;
    left: 9.99vw;
    height: 17vh;
    top: 4.7vh;
}

svg {
	/*width:10vw;*/
	/*cursor: pointer;*/
}

path {
	cursor: pointer;
 	fill: white;
 	z-index: 106;
 	/*background-color: black;*/
}

path:hover, .navbar2:hover {
	cursor: pointer;
	fill: #6292dad4;
	stroke: white;
	color: white;

 }

#hex2{
    top: 13.5vh;
    left: -7.5vw;
    position: relative;
}

#hex3{
 	top: 13.5vh;
    left: -2.5vw;
    position: relative;
}

#hex4{
	top: 4.5vh;
    left: -5vw;
    position: relative;
}

#hex5{
	top: 5.5vh;
    left: 9.97vw;
    position: relative;
}

#hex6{
    left: 15vw;
    top: 5.5vh;
}

#hex7{
	top: -3.5vh;
    left: 12.5vw;
    position: relative;
}

.navbar2{
	top: 6.4vh;
    left: 2.6vw;
    position: absolute;
    display: inline-block;
    z-index: 104;
    font-size: 1.5vw;
    font-family: 'Cinzel', serif;
    background-position: center;
    text-align: center;
    /*border: 1px solid black;*/

}
.content {
    width: 100%;
    height: 100%;
    top: 48%;;
    position: relative;
    z-index: 102;
    display: inline-block;
    background-color: #fdfcfc;
}

#content1{
    height:76%;
}

#content_home{
	left: 6vw;
    width: 53vw;
    /* height: 80vh; */
    top: 8vh;
    position: relative;
    z-index: 102;
    display: inline-block;
    color: black;
    font-weight: bold;
    font-family: 'Crimson Text', serif;
    font-size: 1.4vw;
    text-align: justify;
}

#content_ceo{
	background-color: #f9f9f900;
	height:100vh;
}

.ceo_des{
	border: 1px solid black;
    top: 10%;
    left: 3%;
    height: 80%;
    width: 30%;
    display: inline-block;
    position: relative;

#des1{
    float: left;
}

#des3{
    float: right;
}

#ceo_description{
	border: 1px solid black;
    top: 14vh;
    left: 10vw;
    height: 65vh;
    width: 56vw;
    display: inline-block;
    position: relative;
    background-color: white;
    font-family: 'Crimson Text', serif;
    font-size: 1.2vw;
    text-align: justify;
    font-weight: bold;
    overflow: auto;

}

#about{
	left: 1vw;
}

#ceo{
	top: 4vh;
    left: 0vw;
}

#products{
	left: 1vw;

}

#contact{
	left: 1.3vw;
}

::-webkit-scrollbar {
width: 12px;
height: 12px;
}


::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #f9f9f9;
    box-shadow: inset 0 0 6px rgb(0, 0, 0);
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px #afcfff;
    border-radius: 10px;
}

/*.navbar:hover{
  color: white;
  cursor: pointer;
}*/

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*.poly:hover{
	background-color: black;
	cursor: pointer;

}
.poly{

}*/